/*Nav Bar (Header)________________________________________________________________________________________________________*/

#body_A{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;
    background: rgba(0, 0, 0,0.7)
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#ebc53c);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: #ebc53c;
}

#nav_barre_A {
    background-color: rgb(0, 0, 0);
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    position: sticky;
    top: 0px;
    z-index: 3;
}

#container1_A {
    background-color: rgb(0, 0, 0);
    height: 610px;
    border-radius: 14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
}



#miniLogo_A{

    width: 251px;
    
}

#mini_container_A{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#pages1_A{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 1017px;
    padding-top: 2.8%; 
    
}

.pages_A{
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}

#home_page_A{
    color: #E2C353;
}

#lines1_A{

    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#lines2_A{
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#line1_A{
    height: 7px;
    width: 1008px;
    background-color: #E2C353;
    border-radius: 4px;
}

#line2_A{
    height: 7px;
    width: 577px;
    background-color: #E2C353;
    border-radius: 4px;

    position: relative;
    left: 30.5%;
}

#line3_A{
    height: 7px;
    width: 235px;
    background-color: #E2C353;
    border-radius: 4px;

    position: relative;
    left: 38.6%;
}

#line4_A{
    height: 7px;
    width: 98px;
    background-color: #E2C353;
    border-radius: 4px;
}

#Slogon1_A{
    position: absolute;
    width: 601px;
    height: 169px;
    left: 157px;
    top: 190px;

    font-weight: 900;
    font-size: 60px;
    line-height: 90px;
    word-spacing: 0.2em;


    color: #FFFFFF;
}

.span1_A{
    color: #3230C0;
}

.span2_A{
    color: #E2C353;
}

#Slogon2_A{
    position: absolute;
    width: 408px;
    height: 89px;
    left: 340px;
    top: 490px;

    font-weight: 550;
    font-size: 35px;
    line-height: 52px;
    word-spacing: 0.1em;

    color: white;
}

#logo_A{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 819px;
    top: 180px;

    border-radius: 2px;
}

#landRover1_A {
    position: absolute;
    width: 377px;
    height: 377px;
    left: -70px;
    top: 485px;
    z-index: 2;
}

#cercle1{
    position: absolute;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    left: 397px;
    top: 433px;

    background: #E2C353;
}

#cercle2{
    position: absolute;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    left: 615px;
    top: 712px;

    background: #E2C353;
}

#cercle3{
    box-sizing: border-box;

    position: absolute;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    left: -122px;
    top: 410px;
    z-index: 1;

    opacity: 0.9;
    border: 4px solid #E2C353;
}

#cercle4{
    box-sizing: border-box;

    position: absolute;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    left: -67px;
    top: 505px;
    z-index: 1;

    opacity: 0.9;
    border: 4px solid #E2C353;
}
/*________________________________________________________________________________________________________*/

#container2_A {
    height: 795px;
    background-color: #D9D9D9;
    border-radius: 14px;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

}

#title1_A {
    position: absolute;
    height: 191px;
    left: 28%;
    top: 820px;

    font-weight: 600;
    font-size: 80px;
    line-height: 120px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3230C0;
}

#Red_Mercedes_A {
    position: absolute;
    width: 409px;
    height: 285px;
    left: 24px;
    top: 1094px;

    border-radius: 14px;
}

#BMW_A{
    position: absolute;
    width: 450px;
    height: 285px;
    left: 450px;
    top: 1094px;

    border-radius: 14px;
}

#Blue_Mrecedes_A{
    position: absolute;
    width: 407px;
    height: 285px;
    left: 919px;
    top: 1094px;

    border-radius: 14px;
}

.offers_A{
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;

    color: #0200CC;
}

#offer1_A{
    position: absolute;
    left: 150px;
    top: 1370px;
}

#offer2_A{
    position: absolute;
    left: 520px;
    top: 1370px;
}

#offer3_A{
    position: absolute;
    left: 926px;
    top: 1370px;
}

.sentences{
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;

    color: #000000;
}

#sentence1{
    position: absolute;
    left: 100px;
    top: 1426px;
}

#sentence2{
    position: absolute;
    left: 590px;
    top: 1426px;
}

#sentence3{
    position: absolute;
    left: 1040px;
    top: 1426px;
}

#lines3_A{
    height: 42.27px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;

    position: absolute;
    top: 1603.86px;
}

#line5_A{
    height: 7px;
    width: 1318px;
    background-color: #E2C353;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#line6_A{
    height: 7px;
    width: 935px;
    background-color: #E2C353;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#line7_A{
    height: 7px;
    width: 580px;
    background-color: #E2C353;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#container3_A{
    background: #D9D9D9;
    height: 1539px;
    border-radius: 14px;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

#title2_A{
    position: absolute;
    height: 191px;
    left: 28%;
    top: 1633px;

    font-weight: 600;
    font-size: 80px;
    line-height: 120px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3230C0;
}

#BlueAudi_A{
    position: absolute;
    width: 416px;
    height: 285px;
    left: 28px;
    top: 1912px;

    border-radius: 14px;
}

#whiteCar_A{
    position: absolute;
    width: 405px;
    height: 289px;
    left: 479px;
    top: 1911px;

    border-radius: 14px;
}

#Big_ford_A{
    position: absolute;
    width: 403px;
    height: 285px;
    left: 919px;
    top: 1912px;

    border-radius: 14px;
}

#brand1_A{
    position: absolute;
    left: 195px;
    top: 2190px;
}

#brand2_A{
    position: absolute;
    left: 575px;
    top: 2190px;
}

#brand3_A{
    position: absolute;
    left: 1088px;
    top: 2190px;
}

#sentence4{
    position: absolute;
    left: 179px;
    top: 2246px;
}

#sentence5{
    position: absolute;
    left: 615px;
    top: 2246px;
}

#sentence6{
    position: absolute;
    left: 1058px;
    top: 2246px;
}

.blueNumbers{
    font-weight: 700;
    font-size: 58px;
    text-align: center;

    color: #E2C353;
    background-color: #3230C0;

    width: 293px;
    height: 88px;
    opacity: 0.9;
    border-radius: 14px;
    z-index: 2;

}

#number1_A{
    position: absolute;
    left: 124px;
    top: 2516px;
}

#number2_A{
    position: absolute;
    left: 547px;
    top: 2584px;
}

#number3_A{
    position: absolute;
    left: 955px;
    top: 2730px;
}

.infos_A{
    width: 293px;
    height: 277px;

    font-weight: 700;
    font-size: 58px;

    text-align: center;

    color: #000000;
    z-index: 2;

}

#info1_A{
    position: absolute;
    left: 124px;
    top: 2604px;
}

#info2_A{
    position: absolute;
    left: 547px;
    top: 2672px;
}

#info3_A{
    position: absolute;
    left: 955px;
    top: 2470px;
}

#cercle5{
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 400px;
    left: -96px;
    top: 2455px;

    opacity: 0.9;
    border: 4px solid rgba(226, 195, 83, 0.7);
    border-radius: 50%;
    z-index: 1;
}

#cercle6{
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 250px;
    left: 504px;
    top: 2644px;

    opacity: 0.9;
    border: 4px solid #E2C353;
    border-radius: 50%;
    z-index: 1;
}

#cercle7{
    box-sizing: border-box;

    position: absolute;
    width: 580px;
    height: 580px;
    left: 958px;
    top: 2382px;

    opacity: 0.9;
    border: 4px solid rgba(226, 195, 83, 0.4);
    border-radius: 50%;
    z-index: 1;
}

#choose_A{
    position: absolute;
    width: 633px;
    height: 92px;
    left: 369px;
    top: 3008px;

    border: 5px solid #000000;
    border-radius: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 38px;

    color: #000000;
    background: transparent;
}

#choose_A:hover{
    color: #E2C353;
    border-color: #E2C353;
    background-color: #3230C0;
}

#line8_A{
    position: absolute;
    width: 387.5px;
    height: 0px;
    left: 490px;
    top: 3120px;

    border: 3.5px solid #E2C353;
    border-radius: 14px;
}

#container4_A{
    height: 799px;
    background-color: #D9D9D9;
    border-radius: 14px;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Big_BMW_Car_A{
    width: 696px;
    border-radius: 4px;
}

#White_Range_A{
    width: 604px;
    border-radius: 4px;
}

/*Mohamad's footer (modified)_______________________________________________________________________________________*/
.footer_A {
    background-color: black;
    width: 100%;
    height: 675px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  }
  .want-cont_A {
    width: 603px;
    padding-left: 0px;

  }
  .footer_A .want-cont_A h1 {
    color: white;

    font-weight: 1000;
    font-size: 62px;
  }
  .footer_A .social-media_A {
    color: white;
    padding-top: 65px;

    font-size: 12px;
  }
  .span3_A {
    color: #E2C353;
  }
  .email {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .social-media_A img {
    height: 60px;
    margin-right: 20px;
  }
  .facebook {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .twitter {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .instagram {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .social-media_A a {
    text-decoration: none;
    color: blue;
  }
  .text_A {
    color: white;
  }
  .contact {
    border: 2px white solid;
    padding: 10px;
    width: 260px;
    display: flex;
    justify-content: center;
    margin-left: 135px;
    margin-top: 44px;
    height: 40px;
    border-radius: 10px;
  }
  .contact a {
    color: #E2C353;
    font-size: 26px;
    text-decoration: none;
    position: relative;
  }
  .contact a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: #E2C353;
    bottom: 0;
    left: 0;
    transition: 0.6s ease;
  }
  
  .contact a:hover::before {
    width: 140px;
  }
  
  .contact a:hover {
    color: rgb(0, 0, 0);
  }
  .contact:hover {
    background-color: white;
  }

  .email img{
    height: 50px;
  }

  .facebook img{
    height: 50px;
  }

  .twitter img{
    height: 40px;
  }

  .instagram img{
    height: 59px;
  }

  #last_slogon_A{
    position: absolute;
    top: 1200PX;
    color: #FFFFFF;
    font-size: 30px;
  }

  #line9_A{
    position: absolute;
    top: 1300PX;

    width: 300px;
    height: 8px;

    border: 3.5px solid #ffffff;
    background-color: #FFFFFF;
  }

  #last_img_A{
    height: 100px;
    position: absolute;
    top: 4370PX;
    left: 30px;
  }

  #copyright{
    position: absolute;
    top: 1350PX;
    left: 480px;
    color: #E2C353;
    font-size: 15px;
  }
/*_______________________________________________________________________________________________________*/